* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  cursor: pointer;
}
.card img {
  height: 10rem;
}
.ol-child {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10px;
}
div#area {
  padding: 18px 0px;
}
#area-btn {
  font-size: 10px;
}
